block mixins

html
    head
        title Refa
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        style
            block styles
    body
        .screen
            .screen__header.header
                .header__logo Logo
            block screen
        script
            block scripts