html
    head
        title Refa
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        style
            block styles
    body
        .screen
            .screen__header.header
                .header__logo Logo
            .screen__search.search
                label
                    input(type='search' placeholder='Поиск')
                    i.oi(data-glyph='magnifying-glass')
            .screen__tags
                .card
                    h2 Теги
            .screen__results.results
                .card Результат 1
                .card Результат 2
                .card Результат 3
                .card Результат 4
                .card Результат 5
                .card Результат 6
        script
            block scripts