extends _layout.pug

append mixins
    include Components/_publication.pug

append screen
    .screen__search.search
        label
            input(type='search' placeholder='Поиск')
            i.oi(data-glyph='magnifying-glass')
    .screen__tags
        .card
            h2 Теги
            label.tag
                input(type='checkbox')
                span Tag 1
            label.tag
                input(type='checkbox')
                span Tag 2
            label.tag
                input(type='checkbox')
                span Tag 3
            label.tag
                input(type='checkbox')
                span Dusty Plasma
    .screen__results.results
        if (model.publications.length === 0)
            h2 Откройте файл чтобы начать
        else
            each publication in model.publications
                +publication(publication)



append styles
    include ../bundles/main.min.css