html
    head
        title Refa
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        style
            include ..\bundles\main.min.css
    body
        .grid
            .grid__column.grid__column_ms_2.grid__column_ts_4.grid__column_ls_6
                h1 Refa
            .grid__column.grid__column_ms_2.grid__column_ts_4.grid__column_ls_6
                h1 Refa
        script