mixin input_abstract(abstracts)
    label.input
        span Аннотация
        if (abstracts)
            - var abstractString = ''
            each abstract in abstracts
                - abstractString += abstract.text
        textarea(name='abstract' cols='80' rows='5' readonly)= abstractString