mixin input_address(addresses)
    label.input
        span Адрес
        - var addressString = ''
        if (addresses)
            each addressGroup in addresses
                each address in addressGroup
                    - addressString += address.text
        input(name='address' type='text' value=addressString)