mixin input_author(authors)
    label.input
        span Автор(ы)
        if (authors)
            - var authorString = ''
            - var authorCount = 0
            each author in authors
                - authorCount++
                if (author.literal)
                    each literal in author.literal
                        - authorString += literal.text
                if (author.family)
                    each family in author.family
                        - authorString += family.text
                - authorString += ' '
                if (author.given)
                    each given in author.given
                        - authorString += given.text
                if (author)
                if (authorCount < authors.length)
                    - authorString += ' and '
        input(name='author' type='text' value=authorString)