mixin input_booktitle(booktitles)
    label.input
        span Название книги
        - var booktitleString = ''
        if (booktitles)
            each booktitle in booktitles
                - booktitleString += booktitle.text
        input(name='booktitle' type='text' value=booktitleString readonly)