mixin input_chapter(chapters)
    label.input
        span Номер главы
        - var chaptersString = ''
        if (chapters)
            each chapter in chapters
                - chaptersString += chapter.text
        input(name='chapter' type='number' min='1' value=chaptersString readonly)