mixin input_editor(editors)
    label.input
        span Редактор(ы)
        if (editors)
            - var editorString = ''
            - var editorCount = 0
            each editor in editors
                - editorCount++
                each family in editor.family
                    - editorString += family.text
                - editorString += ' '
                each given in editor.given
                    - editorString += given.text
                if (editorCount < editors.length)
                    - editorString += ' and '
        input(name='editor' type='text' value=editorString)