mixin input_edition(editions)
    label.input
        span Издание
        - var editionString = ''
        if (editions)
            each edition in editions
                - editionString += edition.text
        input(name='edition' type='text' value=editionString readonly)