mixin input_howpublished(howpublishedlist)
    label.input
        span Способ публикации
        - var howpublishedString = ''
        if (howpublishedlist)
            each howpublished in howpublishedlist
                - howpublishedString += howpublished.text
        input(name='howpublished' type='text' value=howpublishedString)