mixin input_institution(institutions)
    label.input
        span Институт, вовлеченный в публикацию
        - var institutionsString = ''
        if (institutions)
            each institutionGroup in institutions
                each institution in institutionGroup
                    - institutionsString += institution.text
        input(name='institution' type='text' value=institutionsString)