mixin input_journal(journals)
    label.input
        span Название журнала
        - var journalString = ''
        each journal in journals
            - journalString += journal.text
        input(name='journal' type='text' value=journalString readonly)