mixin input_note(notes)
    label.input
        span Заметки
        - var noteString = ''
        if (notes)
            each note in notes
                - noteString += note.text
        textarea(name='note' readonly)= noteString