mixin input_note(notes)
    label.input
        span Заметки
        if (note)
            - var noteString = ''
            each note in notes
                - noteString += note.text
        textarea(name='note')= noteString