mixin input_number(numbers)
    label.input
        span Номер
        - var numberString = ''
        - var numberCount = 0
        if (numbers)
            each number in numbers
                - numberCount++
                - numberString += number.text
                if (numberCount < numbers.length)
                    - numberString += ', '
        input(name='number' type='number' min='1' readonly value=numberString)