mixin input_organisation(organizations)
    label.input
        span Организатор конференции
        - var organizationString = ''
        if (organizations)
            each organizationGroup in organizations
                each organization in organizationGroup
                    - organizationString += organization.text
        input(name='organisation' type='text' value=organizationString readonly)