mixin input_organisation(organisations)
    label.input
        span Организатор конференции
        - var organisationString = ''
        if (organisations)
            each organisationGroup in organisations
                each organisation in organisationGroup
                    - organisationString += organisation.text
        input(name='organisation' type='text' value=organisationString)