mixin input_pubtype(type)
    label.input.input_select
        span Тип публикации
        select(name='publicationtype' disabled)
            option(value='article' selected= (type == 'article')) Статья из журнала
            option(value='book' selected= (type == 'book')) Книга
            option(value='booklet' selected= (type == 'booklet')) Буклет
            option(value='inbook' selected= (type == 'inbook')) Часть книги (напр. глава, диапазон страниц)
            option(value='incollection' selected= (type == 'incollection')) Часть книги (напр. статья в сборнике)
            option(value='inproceedings' selected= (type == 'inproceedings')) Тезис (труд) конференции
            option(value='manual' selected= (type == 'manual')) Техническая документация
            option(value='thesis' selected= (type == 'thesis')) Диссертация
            option(value='misc' selected= (type == 'misc')) Другое
            option(value='proceedings' selected= (type == 'proceedings')) Сборник трудов (тезисов) конференции
            option(value='report' selected= (type == 'report')) Отчёт
            option(value='unpublished' selected= (type == 'unpublished')) Неопубликованное
            option(value='standard' selected= (type == 'standard')) Стандарт
            