mixin input_school(schools)
    label.input
        span Институт, в котором защищалась диссертация
        - var schoolString = ''
        if (schools)
            each schoolGroup in schools
                each school in schoolGroup
                    - schoolString += school.text
        input(name='school' type='text' value=schoolString)