mixin input_series(series)
    label.input
        span Серия, в которой вышла книга
        - var seriesString = ''
        if (series)
            each serie in series
                - seriesString += serie.text
        input(name='series' type='text' value=seriesString readonly)