mixin input_title(titles)
    label.input
        span Название работы
        - var titleString = ''
        each title in titles
            - titleString += title.text
        - titleString += ' '
        input(name='title' type='text' value=titleString)