mixin input_type(type)
    label.input.input_select
        span Тип публикации
        select(name='type')
            option(value='article' selected= (type == 'article')) Статья из журнала
            option(value='book' selected= (type == 'book')) Книга
            option(value='booklet' selected= (type == 'booklet')) Буклет
            option(value='conference' selected= (type == 'conference')) Тезис (труд) конференции (для совм. с Scribe)
            option(value='inbook' selected= (type == 'inbook')) Часть книги (напр. глава, диапазон страниц)
            option(value='incollection' selected= (type == 'incollection')) Часть книги (напр. статья в сборнике)
            option(value='inproceedings' selected= (type == 'inproceedings')) Тезис (труд) конференции
            option(value='manual' selected= (type == 'manual')) Техническая документация
            option(value='mastersthesis' selected= (type == 'mastersthesis')) Магистерская диссертация
            option(value='misc' selected= (type == 'misc')) Другое
            option(value='phdthesis' selected= (type == 'phdthesis')) Кандидатская диссертация
            option(value='proceedings' selected= (type == 'proceedings')) Сборник трудов (тезисов) конференции
            option(value='techreport' selected= (type == 'techreport')) Отчёт
            option(value='unpublished' selected= (type == 'unpublished')) Неопубликованное
            