mixin input_volume(volumes)
    label.input
        span Том
        - var volumeString = ''
        - var volumeCount = 0
        if (volumes)
            each volume in volumes
                - volumeCount++
                - volumeString += volume.text
                if (volumeCount < volumes.length)
                    - volumeString += ', '
        input(name='volume' type='number' min='1' value=volumeString readonly)